.highlight-text {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}
.footer-p {
  font-size: 14.5px;
}
a {
  text-decoration: none;
}
.slick-next:before {
  content: '' !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAABACAYAAACOcP4eAAAFXElEQVRogc3ae6ilUxjH8c8+M3OcKeM6CpNkRPhjzMhlcsld0sj9kjvlThpCkWuESIo/kMiMBrkNZYpRg8hl3Cb/KJFLYxIZHMyN2f541mu/+5w5Z6/3Pe/Br97OPms/71rfvd5nPc+z1t6tdrutonbAbni56o1Nqa/GPRthHnZpmCVbdaB/xBYC/D9RHeg+rMJeuK1ZnHyAOlqb/l6PwxpiyVZd6Fbp9Txs1QBLtupCl7UNnmmgn2w1AQ0H4q6G+uqppqDhGpzeYH8jqkloeERElXFV09ADWIgtG+63S01Dw7Z4ChPGoW+MDzQRux8bp75rZ8SJGXZn4uYa/WcBVNUaUTTl6CZcUGOMUVUHeqVqM/gQTq0xzshqt9t1r5fa+fqz3W4fOoaxuq5WjU1AoX68iX0y7ddhDl6tO2ChsUDDdnhP1B85+g1H4J2xDFrHp6enC77F0Tqlai9tjDfEjNdWVehJOC1d/antQxxXsY8XcGzFsf9RVegjMTVdR5baF6lWLE0U4FdUHB/VoPfCIRhM18G6i6MFuLji+Pfhzor3ZENvi2NEYvkzXWtS27SS3YOiRK2ia0XKn5R7Qw70FJGSJ4sNbStdq1Lbmcmm0N0iE1bROSIK7ZBj3Au6DyeJkDaoe2/YSm1bJ5tyX7fiuizcjmZhMfbrZdgL+nTMxM/p/7ZYRBPTa+m93UVEKesOXJXH+492xFu4dDSjkZJLH04Un/oXrE+Q/cKXiaJprZjxPmyKt/Fssi90Nh5VPVLNwyX4PQd6ovDT3RNwO10D6b2Hk90FYkGu1vHzTbEM89N7hebgOZ3YnqsP0jgfjwa9nUgUO4rHXsxYv1h0z4vHB/vjeLEgi4zYh83whdh2fVPqeyaexs4Vwf8QbvbghqD3wVEi1f6qs+gmpLYX8fqQDg8SYe83/JXa2thEPNZFeLdkPy19mD0rgsOTmIvvW+12e/s08HTxqIuwRszcpDTQeyN0Njvdv07nyRTuNICvRPYrz/r9uKwG+Bpcnrs4RrNrjdLe0r0oC/21gbYctdAqu8fewj2mGO4eU4R7LBnSycFilgcNd49B4R7vl+y3Eetidg3gp4V7rBi6EKeJhbiTiBwFSLEQF4rCHw5ItuWFOEFEkM+FSywv9T1DHC3sWhF2lSgNHigaNhTyJoiQN0tEkHLImyT2fHCh8ONyyNtMhKf5ul1gjjikHKgIvAznY2m5cbTkcoIIa1WSy1siHpf9+CyRXKoe3jyJi4SrDoPbkNaLmVkqZk+CW5vA+0vAks3SdE8Z+FI8XgP4SlEWDAOm96HLggQ4Q7hKSyfTlYE/SbZlzcW9FWG/xrmGL/gu9Qp568WqXS4iQtmXiiixPNmUZ/gG1YE/xeF6AJNXxPyOJ9LfyToLc/KQ9wpdJ0rTKpovdkGf5xjnJpcVItz165Sm/SJ2ryjZzcXtuaRJ94jFuqaXYaEq5eKH4tFNSdcSUYUVOkd1l7gSV1e8J+v0s6xXRMlavC50nGpHu+twsnh6lVXnhKk4qPky/d1XxOeRapChWic+ZO3v1sd6LDZdVH9TM+0HxbHYu70MR9NYvgkYEMkkF3ityLJjAmZs0M9hjwr2c8Rue8yqC32jKGNzdYaGgKnn05uLn0/kfuALdTbDjajuj1RWZ9reomFg6kGv1308MJIW+B99u5WjxSI1j4vGA/pbnKL+5rWnmoZeJU74Vzbcb5eahj4PHzXc5zA1CX2H2G2Pu5qCXqL6eXRtNQH9nSgz/zXVhS6n0bNFhvzXVBe6OGe+Da81xJKtOrXHVPwgzjn2bpwoQ3Vmeip+Mo4Zr5fq/kjlLHzWMEu2/gbv3csfYGcJUgAAAABJRU5ErkJggg==)
    center no-repeat;
  width: 45px;
  height: 64px;
  position: absolute;
  right: -55px !important;
  opacity: 1 !important;
  top: 0;
  bottom: 0;
  margin: auto;
}
.slick-prev:before {
  content: '' !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAABACAYAAACOcP4eAAAFZklEQVRogcXaeYhd1R0H8M/MJJNEGxVJcAloVQT/MgmYGsEtuBCq4larxiYuxVgVKVpaQcXdVnBpwSKt4i5Ssa6UgjWQ1gXikhoqaFFUUNP8E9xSNYkmzz9+5/Ju3sx7c8+d+9584TL3nHvO737nvN92fucOtVotU4gT8DY+zJk03B8ulXAQHsaM3IlTSfph7I6NuROnivRNWIRv6nCYCtLH4pp0v7WOgEGTnivUosBQHSGDJv0E9pqskEGSvhVHNSFoUKSX4cqmhA2C9CG4r0mB/Sa9O57BzCaF9pP0CB7HvKYF95P0A8InN45+kb4eyyuMm1aHQz9Ir8R1FcfOwJbcFzRN+kz8OWP89fgs+y2tVqup65hWq/Vdqzqeq/uuoYY2Acfjb5hecfyrOFLNhKkJ0ofhH/hBxfEbcCg+rvvCyer0ifiX6oS34iRtwvunKwuTIX0KnlZdJVo4FWtTe1TkJMvSfWXUJf1LQXhaxpyf4e+l9lLMSdfSnJfXIX0r/pA552I8VmovwhJsSteS1FcJOaSn4375KeZv8KdSex5OFkHlu3RtSX17VxFYlfR+wk2dX5VpwnW4rdSeLcL7LLGpHUrXN6lveRrTE1VIH44XsDCPr6twY8e7zsCeQiXK+8Oh1LdXGtOT10SkL8VLOCCPr1/hdx19yzAfn6d2SxjytHQvPVuAc3oJ72b9O+NurMgkux0X4KFS3zB+IgztixLhUe1kaYbw4UOJ+CHp2V+TzB0wXkRcgHvTxBxsxekinBeYJvR0fiLcStfM9OyeNG6lMMjN2nq+G9bhkfSsK+lf4A7slEn4XZHhrSv17SMC0AFi9YoVGxVG9xReTn2H4zRhkEU+MpyIvy+2bB91kt4Ddwq9y8UbItJ9UupbjB8LNftS2+hGRMh/Fv/skHO0cHv/x7bU18Iu+EoEpjUF6QtxlxrVS/wRl5Xa+4rV/aH4qYufm1i56WLVXu0ib3Ei/q32L1Oo00xREn52WFuH6mBbR7vQ2V4ye3msbnMKeS20CvXYE7ebwNV0wRqhjxtKfT8S6jHbWPWYLdRjdYecJWKVNxmrHpuEerzGWEO8JJGflUn8HZyF/5T65gldP1B4joJIYYjP4MXUd0QaWzbEEeyK90Rytr4QPJ7LWyRc3vxM4ptFNCu7vBHh8hYKD1J2edO195MXCT3udHlvCpe3gxp227nsIpKcszOJb8PPjQ0upwu39oUwsF7BZVis8Mt40jjBpZtRfCnc3xWZpEfwoAjjBbaLEu/rYvUkclsT8dESYWnM62nOGMJU2yMuEdWifTP/gavx21J7GOfhYO38oxO7Cbt4UBfChaCJsBrH4a0KY8u4BTeU2ttFbW+9UL/yahVeYn0a05Uw1fPp94SBPlJxfIFrRYpa4Cs8mv7O0jbMWR3PeiJn57JFZH23Z8whVvzyUnuDcHej2qnpqPDdG8bMHgd19oi/lm+gdwp9LrBWqN3sdK0WOUwl1N2N/14Eg28z5jyQ5hR4Xhx8bkz3lTHZCtMJ8msfR+CV1C4KNR/kvLSJsthiURabcEOasFGUxbKIltFEqXeNiHhVi4lzxDaq9jlMU/XpF4SqVP3ZFgq1qoUmi+qrVDuyKLBUlBiyc/mm6tNlrFT9NGC7OC//NOcF/ThzuceO4bsXNsusmNLf063HJhokSgM984zx0M9zxBXCQBtHP0lvE7WQ2scU3dDvs/HPREnh6yaFDuIrhH+LLVhjGNT3Hn8xtopaG4P8suYqY2sdtTDob5h+iv9NVsigSW/EuaV2rXA8Fd/lrcLN6T47GtKf3KMqXhOb5bkyP92cym9NV4hEaU7uxKkk/V9BPPsjle8BB9HRUL6DehMAAAAASUVORK5CYII=)
    center no-repeat;
  width: 45px;
  height: 64px;
  position: absolute;
  left: -55px !important;
  opacity: 1 !important;
  top: 0;
  bottom: 0;
  margin: auto;
}
.disable-link {
  pointer-events: none;
}
